.heading{
    /* background-color: #CCCCFF; */
}
.logo{
  padding-left: 25rem;
  padding-right: 10rem;
  background-color: #fff;
  height: 15rem;
  margin:0;
  /* position:absolute; */
}
.notice{
  font-size: 30px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  padding-top: 50px;
  padding-left: 2rem;
  z-index: 1;
}
.para1{
  text-align: center;
  width: 90%;
  line-height: 1.5;
  font-weight: bold;
  padding-left: 10rem;
}
.jobs{
  margin-top: 3rem;
  text-align: center;
}
.button{
  margin-top: 1.5rem;
  font-weight: bolder;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

body{
  margin: 0;
}
